<!--
# Copyright 2016 Susan Bennett, David Mitchell, Jim Nicholls
#
# This file is part of AutoHolds.
#
# AutoHolds is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# AutoHolds is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with AutoHolds.  If not, see <http://www.gnu.org/licenses/>.
-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto-Holds</title>
    <link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'common/jquery-toast-plugin/jquery.toast.min.css' %}" rel="stylesheet">
    <link href="{% static 'patron/style.css'%}" rel="stylesheet">
    {% block head-extra %}{% endblock %}
{% endblock %}
</head>

<body>
{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#patron-base-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Auto-Holds</a>
                    </div>
                    <div class="collapse navbar-collapse" id="patron-base-navbar-collapse-1">
                        {% block navbar-logout %}
                            <form class="navbar-form navbar-right" action="{% url 'patron:logout' %}" method="get">
                                <button type="submit" class="btn btn-default">Logout</button>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% block content %}
        {% block pre-panel %}{% endblock %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{% block panel-heading %}{% endblock %}</div>
                    <div class="panel-body">{% block panel-body %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

</div>

{% endblock body %}

{% block scripts %}
    <script src="{% static 'common/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'common/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
    <script src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block scripts-extra %}{% endblock %}
{% endblock %}

</body>
</html>
