{% extends 'patron/base.html' %}

{% comment "Copyright notice" %}
# Copyright 2016 Susan Bennett, David Mitchell, Jim Nicholls
#
# This file is part of AutoHolds.
#
# AutoHolds is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# AutoHolds is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with AutoHolds.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block navbar-logout %}{% endblock %}

{% block pre-panel %}
    {% for m in messages %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">{{ m }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block panel-heading %}Enter your barcode to log in{% endblock %}

{% block panel-body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" action="{% url 'patron:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="password" name="barcode" id="barcode">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock panel-body %}
